@mixin ul-reset {
	list-style:none;
	margin:0;
	padding:0;
}



@mixin ul-horizontal-flex($per-row) {
	@include ul-reset;
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(wrap);
	//@include justify-content(space-around);
	@include align-items(stretch);
	> li {
		@include flex-grow(1);
	}
}




@mixin ul-separated {
	@extend %ul-reset;
	li {
		float:left;
		+ li {
			&:before {
				content:"|";
				color:lighten(#7A7A7A,15%);
				margin:0 10px;
			}
		}
		a {
			display:inline-block;
			color:#7A7A7A;
		}
	}
}

