.navbar-fixed-top {
	.dropdown.user-nav {
		> a {
			@media (min-width:$screen-sm) {padding:15px}
			img {
				margin-left:1rem;
				border:5px solid rgba(white,.3);
				width:50px;
				@include transition(all .2s);
				@media (max-width:$screen-sm) {display:none}
			}
		}
	}
	.navbar-nav .dropdown-menu {
		padding:0;
		background-color:lighten($primary-color,5%);
		border-radius:0;
		border-color:transparent;
		box-shadow:none;
		margin-top:-1px;
		.divider {background-color:$primary-color;margin:0}
		> li {
			font-size:1.5rem;
			> a {
				color:rgba(white,0.8);
				padding:10px 20px;
				&:hover,&:active {
					color:white;
					background:darken($primary-color,5%);
				}
			}
		}
	}
}
