$sw-height: 30px;
$sw-width: 51px;

.form-toggle {
	+ label {margin-top:20px}
	> input.sw + label > span:after {@include font-bold;}
	&.on-off {
		> input.sw {
			+ label > span:after {
				content:"OFF";
			}
			&:checked {
				+ label > span:after {
					content:"ON";
					color:$primary-color;
				}
			}
		}
	}
	&.yes-no {
		> input.sw {
			+ label > span:after {
				content:"NO";
			}
			&:checked {
				+ label > span:after {
					content:"YES";
					color:$primary-color;
				}
			}
		}
	}
}

input{
	&.sw{
		opacity: 0;
		position:absolute;
		left: -9999px;
		& + label{
			user-select: none;
			transition: .2s ease;
			display: inline-block;
			height: $sw-height;
			width: $sw-width;
			position:relative;
			box-shadow: inset 0 0 0px 2px #e4e4e4;
			border-radius: 60px;
			cursor:pointer;
			&:before{
				content: "";
				position: absolute;
				display: block;
				height: $sw-height;
				width: $sw-height;
				top: 0;
				left: 0;
				border-radius: $sw-height/2;
				background: rgba(76,217,100,0);
				transition: .2s cubic-bezier(.24,0,.5,1);
			}

			/* White toggle */
			&:after {
				content: "";
				position: absolute;
				display: block;
				height: 28px;
				width: 28px;
				top: 50%;
				margin-top:-14px;
				left: 1px;
				border-radius: 60px;
				background: #fff;
				box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0,0%,0%,.04), 0 4px 9px hsla(0,0%,0%,.13), 0 3px 3px hsla(0,0%,0%,.05);
				transition: .35s cubic-bezier(.54,1.60,.5,1);
				}
			span{
				white-space:nowrap;
				height:$sw-height;
				line-height:$sw-height;
				margin-left: $sw-width;
				padding-left:16px;
				font-family:Helvetica;
				font-size:14px;
				color:#888;
			}
		}
		&:checked{
			& + label:before {
				width: $sw-width;
				background: $primary-color;
				transition: width .2s cubic-bezier(0,0,0,.1) !important;
			}

			& + label:after{
				left: $sw-width - $sw-height + 1;
			}

			& + label{
				box-shadow: inset 0 0 0px 25px #e4e4e4;
				transition: box-shadow 2.5s cubic-bezier(0,1.2,.94,.95)}
		}
	}
}
