//--- Brand Colors
$primary-color:         #549CCC;
$secondary-color:       #8CB56B;

$brand-text-dark:       black;
$brand-text-light:      white;


//--- Footer Styles
$footer-bg:             #5D656C;
$footer-color:          rgba(white,0.8);
$footer-border:         transparent;
$footer-top-margin:     40px;
$footer-vert-padding:   20px;
$footer-height:         20px;


//--- Grid layout settings
// http://bourbon.io/docs/#flex-grid

$fg-column:             60px;  // Column Width
$fg-gutter:             25px;  // Gutter Width
$fg-max-columns:        12;    // Total Columns For Main Container


//--- Bootstrap variables

$font-family-sans-serif:  $font-regular !default;

$icon-font-path:          "../fonts/";

$grid-gutter-width:         20px !default;

$navbar-height:                    80px !default;

$navbar-default-color:             #fff !default;
$navbar-default-bg:                $primary-color !default;
$navbar-default-border:            transparent !default;

$navbar-default-link-color:                rgba(white,0.8) !default;
$navbar-default-link-hover-color:          white !default;
$navbar-default-link-hover-bg:             darken($primary-color,5%) !default;
$navbar-default-link-active-color:         white !default;
$navbar-default-link-active-bg:            transparent !default;
$navbar-default-link-disabled-color:       rgba(white,0.4) !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               white !default;
$navbar-default-brand-hover-color:         white !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           darken($primary-color,5%) !default;
$navbar-default-toggle-icon-bar-bg:        white !default;
$navbar-default-toggle-border-color:       white !default;

