.navbar-collapse {
	@media (max-width:$screen-sm) {background-color:lighten($primary-color,5%)}
	.navbar-nav {
		@media (max-width:$screen-sm) {margin:0 -5px 15.5px}
		&.navbar-right {
			@media (max-width:$screen-sm) {margin-bottom:0}
		}
	}
}

