nav.navbar-fixed-top {
	@media (min-width:$screen-sm) {height:80px}
	@media (max-width:$screen-sm) {min-height:50px}
	font-size:15px;
	@include transition(all .2s);
	.navbar-brand {
		background:url('../img/logo.png');
		background-repeat:no-repeat;
		background-position: 5px center;
		text-indent: -9999px;
		@media (max-width:$screen-sm) {
			height:50px;
			background: url("../img/logo-mobile.png") 7px center no-repeat !important;
			width:178px;
		}
		@media (min-width:$screen-sm) {
			width:300px;
			height:80px;
			padding-left:0
		}
	}
	.navbar-toggle {margin:10px}
	@media (min-width:$screen-sm) {
		&.sticky {
			height:50px;
			min-height:50px;
			@include box-shadow(0 5px white);

			.navbar-brand {
				background:url('../img/logo-collapsed.png') no-repeat;
				background-position:0 center;
				width:80px;
				height:30px;
			}
			.navbar-nav > li > a {
				padding-top:15px;
				padding-bottom:15px;
			}
			.dropdown.user-nav > a {
				padding:0 0 0 15px;
				img {border:0}
			}
			.navbar-form {padding:9px 0;margin:0}
			.navbar-brand {height:50px;padding-top:16px;padding-bottom:16px}
		}
	}
}

