@mixin font-smoothing {
	-webkit-font-smoothing:antialiased;
					font-smoothing:antialiased;
						 font-smooth:always;
}
@mixin box($box-sizing) {
	-webkit-box-sizing:$box-sizing;
		 -moz-box-sizing:$box-sizing;
					box-sizing:$box-sizing;
}
@mixin drop-shadow($dropshadow) {
	-webkit-filter:drop-shadow($dropshadow);
		 -moz-filter:drop-shadow($dropshadow);
			-ms-filter:drop-shadow($dropshadow);
			 -o-filter:drop-shadow($dropshadow);
					filter:drop-shadow($dropshadow);
}


